body {
  margin: 0;
  min-width: 960px;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 32px;
  color: #222222;
  background-color: #f2f4f6;
  background-image: url("img/1617302285.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}

.h1{
font-size: 36px;
}

p{
font-size: 20px;
margin: 1px 30px;
display: inline;
}

.hero-image{
margin-left: 50px;
margin-bottom: 300px;
}

.img{
margin-left: 10px;
margin-bottom: 10px;
}

.div{
float: left;
}

.page-header {
  margin: 0 0 10px;
  padding: 12px 0 12px;
  text-align: right;
  background-color: #00417d;
  color: #ffffff;
}

.page-footer {
  margin-top: 200;
  padding: 40px 0;
  background-color: #00417d;
  color: #ffffff;
}
